// Заголовки, общие БЄМ блоки и проче...
body {
  @include font-ubuntuR;
  background-color: #fff;
}
.title {
  @include font-ubuntuB;
  font-size: rem(50);
  padding-left: 20px;
  @include media(768) {
    font-size: rem(38);
  }
}
.pb {
  transition: .5s;
  &:hover {
    background: $--hover-color;
    color: $--accent-color-main;
  }
}